<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>《安全员考试题库》</title>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<style type="text/css">
			body,html{height:100%}body{margin:0;padding:0;font-family:"Microsoft Yahei",Arial,sans-serif}table,td,th,tr{font-size:12px}ol,ul{list-style:none;margin:0;padding:0}li{list-style-type:none}address,cite,code,em,i,th{font-weight:400;font-style:normal}.fB,.hx a,.hx em{font-weight:700}a{outline:0;blr:expression(this.onFocus=this.blur())}a:focus{outline:0}.quescon{margin-bottom:30px}.wrap100{width:100%;padding:0 20px}.question-tit{line-height:28px;font-size:15px}.answer-con>li{margin-top:5px;font-size:15px}.rightanswer{background:#e8e8e8;font-size:15px;line-height:28px;padding:0 20px;margin-top:10px}.quesnav{position:fixed;top:0}.quesnav>li{float:left;margin:2px 5px}.quesnav>li>a{display:block;width:30px;height:24px;line-height:24px;text-align:center;font-size:12px;border:1px #ccc solid;color:#000}.quesnav>li>a:hover{background:#f0ad4e;color:#fff;text-decoration:none;border:0}
		</style>
	</head>

	<body ng-app="myApp">
		
		<div class="container">
			<h4 style="color: red;">数据较多，耐心等待一分钟；建议使用谷歌浏览器浏览</h4>
			<div ng-controller="siteCtrl">
				<div class="col-xs-12">
						<!-- quescon -->
						<div class="quescon" ng-repeat="x in quesdata">
							<div class="question-tit">
								<span class="num" data-num="{{x.num}}" ng-bind="x.num"></span>
								<span class="label label-primary" ng-bind="x.bigclassify"></span>
								<span class="label label-warning" ng-bind="x.kind"></span>
								<span class="question-text" ng-bind="x.question"></span>

							</div>
							<ul class="answer-con">
								<li ng-if="x.answere">A. {{x.answera}}</li>
								<li  ng-if="x.answere">B. {{x.answerb}}</li>
								<li  ng-if="x.answere">C. {{x.answerc}}</li>
								<li  ng-if="x.answere">D. {{x.answerd}}</li>
								<li ng-if="x.answere">E. {{x.answere}}</li>
							</ul>

							<div class="rightanswer">正确答案：<span ng-bind="x.right"></span></div>
						</div>
						<!-- quescon  end-->

					</div>
				</div>
				</div>
				
				<!--<div class="col-xs-5">
					<ul class="quesnav">
						<li ng-repeat="x in quesdata"><a href="javascript:;" data-num="{{x.num}}" onclick="" >{{x.num}}</a></li>
					</ul>
				</div>-->
			</div>
		</div>

		<!--<script src="js/jquery-1.10.1.min.js"></script>-->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('myApp', []);

			app.controller('siteCtrl', function($scope, $http) {
				$http({
					method: 'GET',
					url: 'json/data.json'
				}).then(function successCallback(response) {
					$scope.quesdata = response.data.questions;
				}, function errorCallback(response) {
					// 请求失败执行代码
				});
				
				
			});
			

//			$(document).ready(function(){
//				$(".quesnav>li>a").click(function(){
//					var number = $(this).data("num");
//					console.log(number);
//					var $titnum = $(".question-tit>.num[data-num=" + number + "]");
//					 $('body, html').animate({
//                 		 "scrollTop" : $titnum.offset().top
//              	}, 500)
//				})
//				
//			});
		</script>
	</body>

</html>